body {
  font-size: 16px;
  background-color: sandybrown;
  padding: 20px 20px 20px 20px;
}
h1 {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  background-color: rgb(182, 122, 70);
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
  box-shadow: 10px 10px 9px black;
  border-width: 30px;
  text-align: center;
}
p {
  font-weight: 600;
  color: white;
  font-size: 3em;
  background-color: rgb(143, 95, 53);
  border-radius: 15px;
  padding: 5px 5px 5px 5px;
  box-shadow: 10px 10px 9px black;
  border-width: 30px;
  text-align: center;
}
ul {
  color: white;
  font-size: 25px;
  font-style: italic;
  line-height: 40px;
  text-align: center;
  text-decoration: underline;
  background-color: rgb(114, 75, 40);
  border-radius: 15px;
  box-shadow: 10px 10px 9px black;
  border-width: 30px;
}
