* {
  margin: 0px;
}

body {
  text-align: center;
  color: #0a2003;
  /* background-color: rgb(110, 212, 84); */
  /* background-image: url(https://s1.1zoom.me/big3/244/Scenery_Fields_Sky_Roads_508215.jpg); */
  background-image: url(https://i.gifer.com/origin/ca/ca11fd13c7bcad3247a575ba4a533e20.gif);
  background-size: cover;
  backdrop-filter: blur(20px);
  padding: 50px;
}

.descricao {
  margin: 20px 0px 20px 10px;
  padding: 15px;
  height: 180px;
  background-size: 10px;
  color: #184e07;
  background-color: chartreuse;
  border-radius: 8px;
  box-shadow: inset 1px 1px 12px 0px black;
}

#habilidades {
  margin: 15px 0px 15px 0px;
}

h1 {
  margin: 2px 20% 20px 20%;
  background-size: 10px;
  color: #28880b;
  background-color: chartreuse;
  border-radius: 8px;
  box-shadow: inset 1px 1px 12px 0px black;
  font-size: 20px;
  padding: 3px;
}

h3 {
  font-weight: 300;
  text-decoration: wavy;
  display: -webkit-inline-box;
  margin: 8px 0px 8px 0px;
  color: black;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 1px 1px 12px 0px black;
}

#perfil {
  margin: 10px 30px 30px 10px;
  float: left;
  border-radius: 100%;
  border: outset 4px rgb(40 136 11);
  box-shadow: 0px 0px 13px 1px rgb(0 0 0);
  width: 150px;
  /* margin-left: 3px; */
}

ul,
ol {
  /* background-color: cornflowerblue;
  background-size: auto; */
  /* padding: 80px;  */
  display: block;
  /* border-width: auto; */
  margin-right: 30px;
  /* margin-left: 30px; */
}

.container {
  background-color: rgb(40, 136, 11);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 18px 20px 8px #000000;
  width: 455px;
  margin: auto;
}

.imagem {
  /* display: inline-block; */
  position: absolute;
  float: left;
  width: 150px;
  margin-top: 5px;
  margin-left: 30px;
}

.li {
  margin: auto;
  margin-top: 2px;
  width: 150px;
}

/* #linkPerfil {
  margin-top: 300px;
} */

/* a {
  color: #0c1f07;
} */

.descricao2 {
  margin: 40px 0px 20px 0px;
  padding: 5px;
  height: 600px;
  background-size: 10px;
  color: #184e07;
  background-color: chartreuse;
  border-radius: 8px;
  box-shadow: inset 1px 1px 12px 0px black;
}

h5 {
  margin-bottom: 3px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

#conteudoExterno {
  font-style: unset;
  text-decoration: wavy;
  display: -webkit-inline-box;
  margin: 0px 0px 8px 0px;
  color: black;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 1px 1px 12px 0px black;
}

#botao {
  display: absolute;
  margin-left: 400px;
  background-color: rgb(92, 184, 0);
  border-radius: 100%;
}

.subtitulos {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 8px;
  text-decoration: wavy;
}
