body {
    background-color: sandybrown;
    padding: 0 20px;
    text-align: center;
}

.main {
    text-align: end;
    margin: auto;
    width: 400px;
}

.input-radio {
    display: inline;
}

.field {
    background-color: rgba(59, 1, 1, 0.11);
    border: 20px black solid;
}